<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="healthscheduler.example.healthscheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthScheduler">
        <activity android:name=".activity.ScheduleActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ProfileActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ChatMessagesActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ContactsActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.LatestMessagesActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.CodeVerifyPhone" android:screenOrientation="portrait" />
        <activity android:name=".login.RegisterContinue" android:screenOrientation="portrait" />
        <activity android:name=".activity.ScheduleOld" android:screenOrientation="portrait" />
        <activity android:name=".activity.HomeActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.Splash" android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Login" android:screenOrientation="portrait" />
        <activity android:name=".login.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.Register" android:screenOrientation="portrait" />
    </application>

</manifest>