<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="healthscheduler.example.healthscheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthScheduler">
        <activity android:name=".activity.ScheduleActivity"></activity>
        <activity android:name=".ScheduleV2Activity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.ChatMessagesActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.LatestMessagesActivity" />
        <activity android:name=".login.CodeVerifyPhone" />
        <activity android:name=".login.RegisterContinue" />
        <activity android:name=".activity.ScheduleOld" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".login.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Login" />
        <activity android:name=".login.MainActivity" />
        <activity android:name=".login.Register" />
    </application>

</manifest>